extends layout

block content
  h2= title 

  br
  br
  h2 &nbsp; &nbsp; &nbsp; <i>Quality is everything you do, that you strictly don't need to do, but the wise one strictly does do.</i>
  div The drivers for quality initiatives are:

  ul
    li independent progress
    li of high quality software
    li delivered in a timely fashion
    li in a cost effective manner
    
  p A key target is to, not only minimise bugs escaping into production, but also to minimise bugs escaping into sprint testing <= 'Shift Left principle'

  p Quality will impact all aspects of the SDLC including; architecture, process, feature development, testing, release, and support.

  p These pages will provide guides to best practice in the quality space.
   p
    a(class='button' href='/shorts/') Bite Size Blogs 
    p
    a(class='button' href='/longs/') Long Blogs And Docs
    p
    a(class='button' href='/code/') Sodtware Projects