extends layout

block content
  h2= title 
  br
  h2 Welcome!
  br
  h4 <i>&nbsp;&nbsp;&nbsp;'Quality is everything you do,</i>
  h4 <i>&nbsp;&nbsp;&nbsp;that you strictly don't need to do,</i>
  h4 <i>&nbsp;&nbsp;&nbsp;but the wise one strictly does do.'</i>
  br
  div The drivers for quality initiatives are:
  ul
    li independent progress
    li of high quality software (meeting all acceptance criteria)
    li delivered in a timely fashion
    li in a cost effective manner
  br
  p Quality will impact all aspects of the SDLC including; architecture, process, feature development, testing, release, and support.
  br
  p These sections hope to provide guides and tools to best practice in the quality space.
   p
    a(class='button' href='/shorts/') Bite Size Blogs 
    p
    a(class='button' href='/longs/') Blogs And Docs
    p
    a(class='button' href='/code/') Software Projects
    p
    a(class='button' href='/strategy/') Test Strategy Template