extends layout

block content
  h2= title 
  br
  h2 Welcome!
  br
  h3 <i>&nbsp;&nbsp;&nbsp;&nbsp;'Quality is everything you do, that you strictly don't need to do, but the wise one strictly does do.'</i>
  br
  div There are a number of drivers for quality:
  ul
    li independent progress
    li of high quality software (meeting all acceptance criteria)
    li delivered in a timely fashion
    li in a cost effective manner
  br
  p Quality impacts all aspects of the SDLC including; architecture, process, feature development, testing, release, and support. These sections hope to provide guides and tools to best practice in the quality space.
   p
    a(class='button shorts' href='/shorts/') Bite Size Blogs 
    p
    a(class='button longs' href='/longs/') Blogs And Docs
    p
    a(class='button code' href='/code/') Software Projects
    p
    a(class='button strategy' href='/strategy/') Test Strategy Template
    p
    a(class='button backlog' href='/backlog/') Trello Backlog For Web Site

