doctype html
html
 
  head
    title= layoutTitle
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= layoutTitle
    div
    a(href='/') Home
    div
    a(href='http://www.linkedin.com/in/parshotam-t-7bab76129') Contact

    block content
    
