extends layout

block content
 
  p This document serves as both a Testing Strategy Template, and a quality health check.
  br
  a(href='/documents/Testing Strategy Template.docx') Testing Strategy Template