body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* The image used */
  background-image: url("../images/zen.jpeg");

  /* Full height */
  height: 100%; 
  background-repeat: repeat-y;
  background-attachment: scroll;
}

h1 {
  border-style: double;
}

a {
  text-decoration: underline;
}
