body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* The image used */
  background-color: turquoise;

  /* Full height */
  height: 100%; 
  background-repeat: repeat;
  background-attachment: scroll;
}

h1 {
  border-style: double;
}

a {
  background-color: orange;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
    
a.button {
    background-color:  burlywood
}

   
a.menu {
  background-color:  green
}


a:hover { 
  background-color: yellow;
}

.tab {
  text-indent: 100px; 
}

.floating-banner{
  position:absolute;
  top:20px;
  left:20px;
}
