body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* The image used */
  background-color: turquoise;

  /* Full height */
  height: 100%; 
  background-repeat: repeat;
  background-attachment: scroll;
}

h1 {
  border-style: double;
}

a {
  text-decoration: underline;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: blue;
}

a:hover { 
  background-color: yellow;
}

.tab {
  text-indent: 100px; 
}
